# gedit etc.
**/*~

# intellij
# http://stackoverflow.com/a/5534865
*.iml
!.idea/
.idea/*
!.idea/copyright/
!.idea/codeStyleSettings.xml
captures/*

# gradle
/local.properties
.gradle
/build

# osx junk
.DS_Store

#screengrab
fastlane
